<!DOCTYPE html>
<html>
<head>
    <title>New Product Page</title>
    <!-- Add your CSS stylesheets and JavaScript files here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css">
    <style>
         
        .text-zinc-600 { color: #657786; }
        .text-zinc-700 { color: #33475b; }
        .text-zinc-800 { color: #243447; }
        .text-zinc-900 { color: #102a43; }
    </style>
    <link rel="stylesheet" href="{% static 'main/css/loader.css' %}" />
         
</head>
<body class="bg-zinc-100 p-4 font-sans">
    <div id="loader-wrapper">
        <div id="loader"></div>
      </div>
    <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow">
        <h1 class="text-xl font-bold mb-4">Nuevo producto</h1>
         
        <div class="mb-6">
            <label for="name" class="block mb-2 font-semibold">NOMBRE*</label>
            <input type="text" id="name" placeholder="e.g. 12 oz Coffee Mug" class="w-full p-2 border rounded">
        </div>

        <div class="mb-6">
            <label for="summary" class="block mb-2 font-semibold">SUMMARY</label>
            <textarea id="summary" rows="3" class="w-full p-2 border rounded" placeholder="Summarize this product in 1-2 short sentences. We'll show it at the top of the page."></textarea>
        </div>

        <div class="grid grid-cols-2 gap-4 mb-6">
            <div>
                <label for="catalog-price" class="block mb-2 font-semibold">PRECIO DE CATÁLOGO</label>
                <input type="text" id="catalog-price" placeholder="$" class="w-full p-2 border rounded">
            </div>
            
        </div>

        <div class="mb-6">
            <label for="sku" class="block mb-2 font-semibold">SKU (Código de Barras)</label>
            <input type="text" id="sku" placeholder="Escribe el SKU aquí" class="w-full p-2 border rounded">
        </div>

        <div class="mb-6">
            <label for="stock-quantity" class="block mb-2 font-semibold">Cantidad en Stock</label>
            <input type="number" id="stock-quantity" placeholder="Cantidad" class="w-full p-2 border rounded">
        </div>
 
 
        <div class="mb-6">
            <label for="description" class="block mb-2 font-semibold">Descripción</label>
            <textarea id="description" rows="4" class="w-full p-2 border rounded" placeholder="Product summary: Este bloque solo se puede utilizar una vez."></textarea>
        </div>

  
        <div class="mb-6">
             
             <button id="upload-btn" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Guardar producto</button>

        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/loaders.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#upload-btn').click(function(event){
                event.preventDefault(); // Previene la recarga de la página
        
                // Recolecta los datos del formulario
                var productData = {
                    "name": $('#name').val(),
                    "description": $('#description').val(),
                    "short_description": $('#summary').val(),
                    "regular_price": $('#catalog-price').val(),
                    "sku": $('#sku').val(), // Nuevo campo SKU
                    "stock_quantity": $('#stock-quantity').val() // Nuevo campo cantidad en stock
                };
        
                // Configura los settings del AJAX
                var settings = {
                    "url": "https://bazarcinema.com/wp-json/wc/v3/products",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/json",
                        "Authorization": "Basic Y2tfMjg3MjkxNzIzY2IyYjRiZDg3MDk4YjlhODM3OGQ3NmE2MzkyOTc0NDpjc19iMmJmZjU5ZDQ5OGExNjVmYjE1Y2YxNzY5N2FjMjI1ZGE4Y2I5ZTc2"
                    },
                    "data": JSON.stringify(productData)
                };
        
                // Realiza la llamada AJAX
                $.ajax(settings).done(function (response) {
                    console.log(response);
                    alert('Producto creado exitosamente!');
                }).fail(function (error) {
                    console.error('Error al crear el producto:', error);
                    alert('Error al crear el producto. Ver la consola para más detalles.');
                });
            });
        });
    </script>
        

</body>
</html> 