{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>New Product Page</title>
    <!-- Add your CSS stylesheets and JavaScript files here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css">
    <style>
         
        .text-zinc-600 { color: #657786; }
        .text-zinc-700 { color: #33475b; }
        .text-zinc-800 { color: #243447; }
        .text-zinc-900 { color: #102a43; }


        #loader-wrapper {
            display: none; /* Oculto por defecto */
            position: fixed; /* Fijo en la pantalla */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
            z-index: 1000; /* Asegura que esté sobre otros elementos */
            display: flex; /* Uso flexbox para centrar el contenido */
            justify-content: center; /* Centrado horizontal */
            align-items: center; /* Centrado vertical */
        }
    </style>
    
    <link rel="stylesheet" href="{% static 'main/css/loader.css' %}" />
         
</head>
<body class="bg-zinc-100 p-4 font-sans">
    <div id="loader-wrapper">
        <div id="loader"></div>
      </div>
    <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow">
        <h1 id="page-title" class="text-xl font-bold mb-4">Nuevo producto</h1>
         
        <div class="mb-6">
            <label for="name" class="block mb-2 font-semibold">NOMBRE*</label>
            <input type="text" id="name" placeholder="e.g. 12 oz Coffee Mug" class="w-full p-2 border rounded">
        </div>

        <div class="mb-6">
            <label for="summary" class="block mb-2 font-semibold">SUMMARY</label>
            <textarea id="summary" rows="3" class="w-full p-2 border rounded" placeholder="Summarize this product in 1-2 short sentences. We'll show it at the top of the page."></textarea>
        </div>

        <div class="grid grid-cols-2 gap-4 mb-6">
            <div>
                <label for="catalog-price" class="block mb-2 font-semibold">PRECIO DE CATÁLOGO</label>
                <input type="text" id="catalog-price" placeholder="$" class="w-full p-2 border rounded">
            </div>
            
        </div>

        <div class="mb-6">
            <label for="sku" class="block mb-2 font-semibold">SKU (Código de Barras)</label>
            <input type="text" id="sku" placeholder="Escribe el SKU aquí" class="w-full p-2 border rounded">
        </div>

        <div class="mb-6">
            <label for="stock-quantity" class="block mb-2 font-semibold">Cantidad en Stock</label>
            <input type="number" id="stock-quantity" placeholder="Cantidad" class="w-full p-2 border rounded">
        </div>
 
 
        <div class="mb-6">
            <label for="description" class="block mb-2 font-semibold">Descripción</label>
            <textarea id="description" rows="4" class="w-full p-2 border rounded" placeholder="Product summary: Este bloque solo se puede utilizar una vez."></textarea>
        </div>

  
        <div class="mb-6">
             
             <button id="upload-btn" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Guardar producto</button>
             <button id="update-btn" class="mt-4 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 hidden">Actualizar producto</button>


        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/loaders.js' %}"></script>
    <script> 


$(document).ready(function() {
   
    
    var productId = {{ product_id|default_if_none:"null" }};

    if (productId !== "null") {
        $("#page-title").text("Editar producto");
        $("#upload-btn").addClass("hidden");
        $("#update-btn").removeClass("hidden");

        $("#update-btn").click(function(event) {
            event.preventDefault();
            $("#loader-wrapper").show();

            var productData = {
                "name": $('#name').val(),
                "description": $('#description').val(),
                "short_description": $('#summary').val(),
                "regular_price": $('#catalog-price').val(),
                "sku": $('#sku').val(),
                "stock_quantity": $('#stock-quantity').val(),
                "api_method": "wp-json/wc/v3/products/" + productId, // Asegúrate de definir 'productId'
                "type_method": "PUT"  // Especifica que es una petición PUT
            };

            $.ajax({
                url: "/api_proxy_wc/",  // Cambiado para apuntar al endpoint del servidor Django
                type: "POST",  // El método siempre es POST porque estamos enviando a un proxy
                contentType: "application/json",
                data: JSON.stringify(productData),
                success: function(response) {
                    alert('Producto actualizado exitosamente.');
                },
                error: function() {
                    alert('Error al actualizar el producto.');
                },
                complete: function() {
                    $("#loader-wrapper").hide();
                }
            });
        });
    }



    $('#upload-btn').click(function(event) {
        event.preventDefault();
        $("#loader-wrapper").show();

        var postData = {
            "name": $('#name').val(),
            "description": $('#description').val(),
            "short_description": $('#summary').val(),
            "regular_price": $('#catalog-price').val(),
            "sku": $('#sku').val(),
            "stock_quantity": $('#stock-quantity').val(),
            "api_method": "wp-json/wc/v3/products/",
            "type_method": "POST" 
        };

        $.ajax({
            url: "/api_proxy_wc/" ,
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(postData),
            success: function(response) {
                alert('Producto creado exitosamente.');
            },
            error: function() {
                console.error("Error status:", status);
                console.error("Error details:", xhr.responseText);
                alert('Error al crear el producto.');
            },
            complete: function() {
                $("#loader-wrapper").hide();
            }
        });
    });

    if (productId !== "null") {
        $("#loader-wrapper").show();

        var postData = {
                "api_method": "wp-json/wc/v3/products/"+ productId,
                "type_method": "GET" 
            };

        $.ajax({
            url: "/api_proxy_wc/" ,
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(postData),
            success: function(response) {
                $('#name').val(response.name);
                $('#summary').val(response.short_description);
                $('#catalog-price').val(response.regular_price);
                $('#sku').val(response.sku);
                $('#stock-quantity').val(response.stock_quantity);
                $('#description').val(response.description);
            },
            complete: function() {
                $("#loader-wrapper").hide();
            }
        });
    }
});


    </script>
    
        

</body>
</html> 